.nematode-detail {
  padding: 2rem;
  color: black;
}

.nematode-map-placeholder {
  height: 300px;
  background: #333;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nematode-info h3 {
  margin-top: 1.5rem;
}
