#root{
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: start;
  background-color:white;
  /* width: 100vw;
  height: 100%;
} */
.main {
  /* keep the vertical sizing if you need it */
  height: calc(100vh - 80px);
  
  /* make it a column wrapper that stretches children */
  display: flex;
  flex-direction: column;
  align-items:start;    /* children (your list) fill 100% width */

  /* optional padding to match header */
  padding: 0 16px;
}

h1{
color: blue;
}