@import "tailwindcss";

#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: start;
  background-color: white;
}

.main {
  min-height: calc(100vh - 80px); /* ensures it fills the screen at minimum */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* keep content starting at the top */
  align-items: start;
  padding-bottom: 40px; /* optional, adds spacing if content is less */
  background: white; /* or whatever your default background is */
}

h1 {
  color: blue;
}
